<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.hm.modules.alarmstatistics.dao.AlarmInboxDao" >
    
    <!-- 分页查询故障报警信息 -->
    <select id="selectAlarmInforByPage" resultType="com.smartwf.hm.modules.alarmstatistics.vo.FaultInformationVO">
        select 
        	a.id,
			a.alarm_code,
			a.alarm_source,
			a.alarm_description,
			a.alarm_location,
			a.start_time,
			a.end_time,
			a.alarm_level,
			a.fault_type,
			a.manufacturers,
			a.device_code,
			a.device_name,
			a.wind_farm,
			a.alarm_status,
			a.asset_number,
			a.operating_status,
			a.create_time,
			a.update_time,
			a.tenant_code
        from fault_information a
        where 1=1
        <if test="bean.tenantCode != null ">
          and a.tenant_code = #{bean.tenantCode}
        </if>
        <if test="bean.alarmSource != null ">
          and a.alarm_source like '%${bean.alarmSource}%'
        </if>
        <if test="bean.alarmDescription != null ">
          and a.alarm_description like '%${bean.alarmDescription}%' 
        </if>
        <if test="bean.alarmLocation != null ">
          and a.alarm_location = #{bean.alarmLocation}
        </if>
        <if test="bean.alarmLevel != null ">
          and a.alarm_level = #{bean.alarmLevel}
        </if>
        <if test="bean.faultType != null ">
          and a.fault_type = #{bean.faultType}
        </if>
        <if test="bean.assetNumber != null ">
          and a.asset_number = #{bean.assetNumber}
        </if>
        <if test="bean.alarmStatus != null ">
          and a.alarm_status = #{bean.alarmStatus}
        </if>
        <if test="bean.operatingStatus != null ">
          and a.operating_status = #{bean.operatingStatus}
        </if>
        <if test="bean.startTime != null ">
          and a.start_time between #{bean.startTime} and #{bean.endTime}
        </if>
          order by a.start_time desc
    </select>
    
    
    <!-- 查询所有故障报警信息 -->
    <select id="selectAlarmInforByAll" resultType="com.smartwf.hm.modules.alarmstatistics.vo.FaultInformationVO">
        select 
        	a.id,
			a.alarm_code,
			a.alarm_source,
			a.alarm_description,
			a.alarm_location,
			a.start_time,
			a.end_time,
			a.alarm_level,
			a.fault_type,
			a.manufacturers,
			a.device_code,
			a.device_name,
			a.wind_farm,
			a.alarm_status,
			a.asset_number,
			a.operating_status,
			a.create_time,
			a.update_time,
			a.tenant_code
        from fault_information a
        where 1=1
        <if test="bean.id != null ">
          and a.id = #{bean.id}
        </if>
        <if test="bean.tenantCode != null ">
          and a.tenant_code = #{bean.tenantCode}
        </if>
        <if test="bean.alarmSource != null ">
          and a.alarm_source like '%${bean.alarmSource}%'
        </if>
        <if test="bean.alarmDescription != null ">
          and a.alarm_description like '%${bean.alarmDescription}%' 
        </if>
        <if test="bean.alarmLocation != null ">
          and a.alarm_location = #{bean.alarmLocation}
        </if>
        <if test="bean.alarmLevel != null ">
          and a.alarm_level = #{bean.alarmLevel}
        </if>
        <if test="bean.faultType != null ">
          and a.fault_type = #{bean.faultType}
        </if>
        <if test="bean.assetNumber != null ">
          and a.asset_number = #{bean.assetNumber}
        </if>
        <if test="bean.alarmStatus != null ">
          and a.alarm_status = #{bean.alarmStatus}
        </if>
        <if test="bean.operatingStatus != null ">
          and a.operating_status = #{bean.operatingStatus}
        </if>
        <if test="bean.startTime != null ">
          and a.start_time between #{bean.startTime} and #{bean.endTime}
        </if>
         order by a.start_time desc
    </select>
    
    <!-- 查询所有未处理的故障  -->
    <select id="selectFaultInformationByAll" resultType="java.util.HashMap">
          select 
			id,
			alarm_code,
			alarm_source,
			alarm_description,
			alarm_location,
			start_time,
			end_time,
			alarm_level,
			fault_type,
			manufacturers,
			device_code,
			device_name,
			wind_farm,
			alarm_status,
			asset_number,
			operating_status,
			create_time,
			update_time,
			tenant_code
		 from fault_information where alarm_status=0 order by start_time desc
    </select>
    
    
    <!-- 重点机位统计 -->
    <select id="selectKeyPositionByCount" resultType="com.smartwf.hm.modules.alarmstatistics.vo.FaultInformationVO">
        select 
			f1.device_code,
			f1.device_name,
			IFNULL(f2.alarm_status,0) as untreated,
			IFNULL(f2.fault_type_day,0) as fault_type_day,
			IFNULL(f2.fault_type_mouth,0) as fault_type_mouth,
			IFNULL(f2.fault_type_all,0) as fault_type_all,
			IFNULL(f2.start_time,0) as recent_time
		from key_position f1 LEFT JOIN (
			select 
				d1.device_code,
				d1.alarm_status,
				d2.fault_type_day,
				d3.fault_type_mouth,
				d4.fault_type_all
				,d5.start_time 
			from 
			(select device_code,count(*) as alarm_status from fault_information where 1=1
				<if test="bean.tenantCode != null ">
		          and tenant_code = #{bean.tenantCode}
		        </if>
				and alarm_status=0  group by device_code,device_name
			) d1,
			(select device_code,device_name,count(*) as fault_type_day from fault_information  where 1=1
				<if test="bean.tenantCode != null ">
		          and tenant_code = #{bean.tenantCode}
		        </if>
		        and to_days(start_time) = to_days(now()) group by device_code,device_name
			) d2,
			(select device_code,device_name,count(*) as fault_type_mouth from fault_information  where 1=1
				<if test="bean.tenantCode != null ">
		          and tenant_code = #{bean.tenantCode}
		        </if>
		        and DATE_FORMAT( start_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ) group by device_code,device_name
			) d3,
			(select device_code,device_name,count(*) as fault_type_all from fault_information  where 1=1
				
		        group by device_code,device_name
			) d4,
			(select a.device_code,a.device_name,
				CASE
						WHEN a.start_time &lt;= 60 THEN concat(start_time ,'分钟')
						WHEN a.start_time>60 and  a.start_time &lt;= 1440 THEN  concat( TRUNCATE(start_time/60,0),' 小时')
						WHEN a.start_time>1440 and  a.start_time &lt;= 43200 THEN  concat( TRUNCATE(start_time/1440,0),' 天')
				ELSE '大于一个月'
				END 'start_time'
				from (
					select device_code,device_name,TIMESTAMPDIFF(MINUTE,max(start_time),now() ) as start_time from fault_information where 1=1 
					<if test="bean.tenantCode != null ">
			          and tenant_code = #{bean.tenantCode}
			        </if>
			        group by device_code,device_name    
				) a 
			) d5
			where d1.device_code=d2.device_code 
			and d2.device_code=d3.device_code 
			and d3.device_code = d4.device_code  
			and d4.device_code = d5.device_code 
		) f2 on f1.device_code=f2.device_code
        where 1=1
        <if test="bean.tenantCode != null ">
		    and f1.tenant_code = #{bean.tenantCode}
		</if>
        order by f1.device_code
    </select>
    
   
</mapper>