<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.hm.modules.alarmstatistics.dao.FaultOverviewDao" >

    
    <!-- 故障 -->
    <select id="selectFaultTypeByFault" resultType="com.smartwf.hm.modules.alarmstatistics.vo.FaultInformationVO">
       select a.fname,count(a.fname) as fvalue from (
			select 
				date_format(start_time,'%Y-%m-%d') as fname
			from fault_information 
			where incident_type=1 
			and DATE_FORMAT(start_time,'%Y-%m-%d') between #{bean.stime} and #{bean.etime}
			<if test="bean.tenantDomain != null ">
                and tenant_domain = #{bean.tenantDomain}
            </if>
            <if test="bean.windFarm != null ">
	            and wind_farm in (${bean.windFarm}) 
	        </if>
		) a
		group by a.fname order by a.fname asc
    </select>
    
    <!-- 报警 -->
    <select id="selectFaultTypeByAlarm" resultType="com.smartwf.hm.modules.alarmstatistics.vo.FaultInformationVO">
       select a.fname,count(a.fname) as fvalue from (
			select 
				date_format(start_time,'%Y-%m-%d') as fname
			from fault_information 
			where incident_type=3 
			and DATE_FORMAT(start_time,'%Y-%m-%d') between #{bean.stime} and #{bean.etime}
			<if test="bean.tenantDomain != null ">
                and tenant_domain = #{bean.tenantDomain}
            </if>
            <if test="bean.windFarm != null ">
	            and wind_farm in (${bean.windFarm}) 
	        </if>
		) a
		group by a.fname order by a.fname asc
    </select>
    
    <!-- 缺陷 -->
    <select id="selectFaultTypeByDefect" resultType="com.smartwf.hm.modules.alarmstatistics.vo.FaultInformationVO">
       select a.fname,count(a.fname) as fvalue from (
			select 
				date_format(start_time,'%Y-%m-%d') as fname
			from fault_information 
			where incident_type=2 
			and DATE_FORMAT(start_time,'%Y-%m-%d') between #{bean.stime} and #{bean.etime}
			<if test="bean.tenantDomain != null ">
                and tenant_domain = #{bean.tenantDomain}
            </if>
            <if test="bean.windFarm != null ">
	            and wind_farm in (${bean.windFarm}) 
	        </if>
		) a
		group by a.fname order by a.fname asc
    </select>
    
    <!-- 故障等级 -->
    <select id="selectFaultLevelByDate" resultType="com.smartwf.hm.modules.alarmstatistics.vo.FaultInformationVO">
       select a.fname,a.alarm_level,count(a.fname) as fvalue from (
			select 
				date_format(start_time,'%Y-%m-%d') as fname,
				alarm_level
			from fault_information 
			where incident_type=1
			and DATE_FORMAT(start_time,'%Y-%m-%d') between #{bean.stime} and #{bean.etime}
			<if test="bean.alarmLevel != null ">
                and alarm_level = #{bean.alarmLevel}
            </if>
			<if test="bean.tenantDomain != null ">
                and tenant_domain = #{bean.tenantDomain}
            </if>
            <if test="bean.windFarm != null ">
	            and wind_farm in (${bean.windFarm}) 
	        </if>
		) a  group by a.fname,a.alarm_level order by a.fname asc
    </select>
    
    <!-- 故障状态 -->
    <select id="selectFaultStatusByDate" resultType="com.smartwf.hm.modules.alarmstatistics.vo.FaultInformationVO">
       select a.alarm_status,count(a.fname) as fvalue from (
			select 
				date_format(start_time,'%Y-%m-%d') as fname,
				alarm_status
			from fault_information 
			where incident_type=${bean.incidentType}
			and DATE_FORMAT(start_time,'%Y-%m-%d') between #{bean.stime} and #{bean.etime}
			<if test="bean.tenantDomain != null ">
                and tenant_domain = #{bean.tenantDomain}
            </if>
            <if test="bean.windFarm != null ">
	            and wind_farm in (${bean.windFarm}) 
	        </if>
		) a  group by a.alarm_status order by a.alarm_status asc
    </select>
    
    <!-- 完成率统计    alarm_status ： 3完成  4关闭 -->
    <select id="selectFaultLocationByDate" resultType="com.smartwf.hm.modules.alarmstatistics.vo.FaultInformationVO">
       select a.incident_type as fname,ROUND(avg(a.fvalue)) as fvalue from (
			select 
				incident_type,
	            timestampdiff(HOUR,start_time,end_time) as fvalue
			from fault_information 
			where alarm_status in (3,4) and end_time is not null
			and DATE_FORMAT(start_time,'%Y-%m-%d') between #{bean.stime} and #{bean.etime}
			<if test="bean.tenantDomain != null ">
                and tenant_domain = #{bean.tenantDomain}
            </if>
            <if test="bean.windFarm != null ">
	          and wind_farm in (${bean.windFarm}) 
	        </if>
		) a  group by a.incident_type order by a.incident_type asc
    </select>
    
    
    <!-- 门户故障状态统计 -总数 -->
    <select id="selectFaultByAlarmStatus" resultType="java.util.Map">
       select 
			a.alarm_status as fname,
			count(a.fname) as fvalue 
		from (
			select 
				 date_format(start_time,'%Y-%m-%d') as fname,
				 alarm_status 
			from fault_information 
			where 1=1 
			<if test="bean.tenantDomain != null ">
					and tenant_domain = #{bean.tenantDomain}
			</if>
			<if test="bean.windFarm != null ">
					and wind_farm in (${bean.windFarm}) 
			</if>
		) a  group by a.alarm_status order by a.alarm_status asc
    </select>
    
    <!-- 门户故障状态统计 - 列表-->
    <select id="selectFaultInformationByPage" resultType="java.util.Map">
        SELECT
			id,
			alarm_code,
			alarm_source,
			alarm_description,
			alarm_location,
			start_time,
			alarm_status,
			end_time
		FROM
			fault_information
		WHERE
			alarm_status = 3
		<if test="bean.tenantDomain != null ">
            and tenant_domain = #{bean.tenantDomain}
        </if>
        <if test="bean.windFarm != null ">
            and wind_farm in (${bean.windFarm}) 
        </if>
        order by update_time desc
    </select>
    
    
    <!-- (故障、缺陷、警告)未处理记录统计 -->
    <select id="selectFaultRecordByIncidentType" resultType="java.util.Map">
      select 
        case a.incident_type 
		  when 1 then 'fault'
		  when 2 then 'defect'
		  when 3 then 'alert'
		else 'null'
		end as fname,
		count(a.incident_type) as fvalue 
	  from (
		 select incident_type from fault_information where alarm_status=0
		 <if test="bean.tenantDomain != null ">
               and tenant_domain = #{bean.tenantDomain}
            </if>
            <if test="bean.windFarm != null ">
            and wind_farm in (${bean.windFarm}) 
         </if>
	  ) a GROUP BY a.incident_type order by a.incident_type asc
    </select>
    
</mapper>