<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.hm.modules.alarmstatistics.dao.FaultInboxDao" >
    
    <!-- 分页查询故障报警信息 -->
    <select id="selectFaultInforByPage" resultType="com.smartwf.hm.modules.alarmstatistics.vo.FaultInformationVO">
        select 
        	a.id,
			a.alarm_code,
			a.alarm_source,
			a.alarm_description,
			a.alarm_location,
			a.start_time,
			a.end_time,
			a.alarm_level,
			a.fault_type,
			a.manufacturers,
			a.device_code,
			a.device_name,
			a.wind_farm,
			a.alarm_status,
			a.asset_number,
			a.operating_status,
			a.create_time,
			a.update_time,
			a.tenant_domain
        from fault_information a
        where a.incident_type=1
        <if test="bean.tenantDomain != null ">
          and a.tenant_domain = #{bean.tenantDomain}
        </if>
        <if test="bean.windFarm != null ">
          and find_in_set(a.wind_farm, #{bean.windFarm})
        </if>
        <if test="bean.alarmSource != null ">
          and a.alarm_source like '%${bean.alarmSource}%'
        </if>
        <if test="bean.alarmDescription != null ">
          and a.alarm_description like '%${bean.alarmDescription}%' 
        </if>
        <if test="bean.alarmLocation != null ">
          and a.alarm_location = #{bean.alarmLocation}
        </if>
        <if test="bean.alarmLevel != null ">
          and a.alarm_level = #{bean.alarmLevel}
        </if>
        <if test="bean.faultType != null ">
          and a.fault_type = #{bean.faultType}
        </if>
        <if test="bean.assetNumber != null ">
          and a.asset_number = #{bean.assetNumber}
        </if>
        <if test="bean.alarmStatus != null ">
          and a.alarm_status = #{bean.alarmStatus}
        </if>
        <if test="bean.operatingStatus != null ">
          and a.operating_status = #{bean.operatingStatus}
        </if>
        <if test="bean.startTime != null ">
          and a.start_time between #{bean.startTime} and #{bean.endTime}
        </if>
          order by a.start_time desc
    </select>
    
    
    <!-- 查询所有故障报警信息 -->
    <select id="selectFaultInforByAll" resultType="com.smartwf.hm.modules.alarmstatistics.vo.FaultInformationVO">
        select 
        	a.id,
			a.alarm_code,
			a.alarm_source,
			a.alarm_description,
			a.alarm_location,
			a.start_time,
			a.end_time,
			a.alarm_level,
			a.fault_type,
			a.manufacturers,
			a.device_code,
			a.device_name,
			a.wind_farm,
			a.alarm_status,
			a.asset_number,
			a.operating_status,
			a.create_time,
			a.update_time,
			a.tenant_domain
        from fault_information a
        where a.incident_type=1
        <if test="bean.id != null ">
          and a.id = #{bean.id}
        </if>
        <if test="bean.tenantDomain != null ">
          and a.tenant_domain = #{bean.tenantDomain}
        </if>
        <if test="bean.windFarm != null ">
          and find_in_set(a.wind_farm, #{bean.windFarm})
        </if>
        <if test="bean.alarmSource != null ">
          and a.alarm_source like '%${bean.alarmSource}%'
        </if>
        <if test="bean.alarmDescription != null ">
          and a.alarm_description like '%${bean.alarmDescription}%' 
        </if>
        <if test="bean.alarmLocation != null ">
          and a.alarm_location = #{bean.alarmLocation}
        </if>
        <if test="bean.alarmLevel != null ">
          and a.alarm_level = #{bean.alarmLevel}
        </if>
        <if test="bean.faultType != null ">
          and a.fault_type = #{bean.faultType}
        </if>
        <if test="bean.assetNumber != null ">
          and a.asset_number = #{bean.assetNumber}
        </if>
        <if test="bean.alarmStatus != null ">
          and a.alarm_status = #{bean.alarmStatus}
        </if>
        <if test="bean.operatingStatus != null ">
          and a.operating_status = #{bean.operatingStatus}
        </if>
        <if test="bean.startTime != null ">
          and a.start_time between #{bean.startTime} and #{bean.endTime}
        </if>
         order by a.start_time desc
    </select>
    
    <!-- 查询所有未处理的故障  -->
    <select id="selectFaultInformationByAll" resultType="java.util.HashMap">
          select 
			id,
			alarm_code,
			alarm_source,
			alarm_description,
			alarm_location,
			start_time,
			end_time,
			incident_type,
			alarm_level,
			fault_type,
			manufacturers,
			device_code,
			device_name,
			wind_farm,
			asset_number,
			order_number,
			alarm_status,
			operating_status,
			discoverer_id,
			discoverer_name,
			remark,
			create_time,
			create_user_id,
			create_user_name,
			update_time,
			update_user_id,
			update_user_name,
			tenant_domain
		 from fault_information where alarm_status=0 and incident_type=1 order by start_time desc
    </select>
        
    <!-- 重点机位统计 -->
    <select id="selectKeyPositionByCount" resultType="com.smartwf.hm.modules.alarmstatistics.vo.FaultInformationVO">
			SELECT
				f1.asset_number,
				f1.device_name,
				f1.STATUS,
			  IFNULL(d4.fault_type_all, 0) AS fault_type_all,
			  IFNULL(d2.fault_type_day, 0) AS fault_type_day,
			  IFNULL(d3.fault_type_mouth, 0) AS fault_type_mouth,
			  IFNULL(d5.start_time, 0) AS recent_time,
			  IFNULL(d1.untreated, 0) AS untreated
			FROM
				key_position f1
			LEFT JOIN (
			  -- 累计报警
						SELECT asset_number, device_name, count(*) AS fault_type_all
						FROM
							fault_information WHERE incident_type = 1
						<if test="bean.tenantDomain != null ">
				          and tenant_domain = #{bean.tenantDomain}
				        </if>
				        <if test="bean.windFarm != null ">
				          and find_in_set(wind_farm, #{bean.windFarm})
				        </if>
						GROUP BY asset_number, device_name
			) d4 on f1.asset_number=d4.asset_number and f1.device_name=d4.device_name
			left join (
			 -- 今日报警
			  SELECT 	asset_number, device_name, 	count(*) AS fault_type_day
					FROM 	fault_information WHERE incident_type = 1 
					<if test="bean.tenantDomain != null ">
			          and tenant_domain = #{bean.tenantDomain}
			        </if>
			        <if test="bean.windFarm != null ">
			          and find_in_set(wind_farm, #{bean.windFarm})
			        </if>
					AND to_days(start_time) = to_days(now())
					GROUP BY asset_number, device_name
			
			) d2 on f1.asset_number=d2.asset_number and f1.device_name=d2.device_name
			left join (
			-- 本月
					SELECT
						asset_number, device_name, count(*) AS fault_type_mouth
					FROM
						fault_information
					WHERE incident_type = 1
					<if test="bean.tenantDomain != null ">
			          and tenant_domain = #{bean.tenantDomain}
			        </if>
			        <if test="bean.windFarm != null ">
			          and find_in_set(wind_farm, #{bean.windFarm})
			        </if>
					AND DATE_FORMAT(start_time, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m')
					GROUP BY asset_number, device_name
			
			) d3 on f1.asset_number=d3.asset_number and f1.device_name=d3.device_name
			left join (
			-- 最近时间
					SELECT
						a.asset_number, 
			      a.device_name,
						CASE 
							WHEN a.start_time &gt;= 0 and  a.start_time &lt; 60 THEN concat(start_time ,'分钟')
							WHEN a.start_time &gt;= 60 and  a.start_time &lt; 1440 THEN  concat( TRUNCATE(start_time/60,0),' 小时')
							WHEN a.start_time &gt;= 1440 and  a.start_time &lt; 43200 THEN  concat( TRUNCATE(start_time/1440,0),' 天')
						ELSE '大于一个月' END 'start_time'
					FROM 	(	
			         SELECT 	
			           asset_number, device_name, TIMESTAMPDIFF( MINUTE, 	max(start_time), now() ) AS start_time
					 FROM fault_information 
			         WHERE incident_type = 1 
			         <if test="bean.tenantDomain != null ">
			          and tenant_domain = #{bean.tenantDomain}
			         </if>
			         <if test="bean.windFarm != null ">
			          and find_in_set(wind_farm, #{bean.windFarm})
			         </if>
					 GROUP BY asset_number, device_name
					 ) a
			) d5  on f1.asset_number=d5.asset_number and f1.device_name=d5.device_name
			left join (
			-- 未处理
					SELECT asset_number, device_name, count(*) AS untreated
					FROM fault_information 
			    WHERE incident_type = 1 
			     <if test="bean.tenantDomain != null ">
		          and tenant_domain = #{bean.tenantDomain}
		         </if>
		         <if test="bean.windFarm != null ">
		          and find_in_set(wind_farm, #{bean.windFarm})
		         </if>
			     AND alarm_status = 0
					GROUP BY asset_number, device_name
			) d1 on f1.asset_number=d1.asset_number  and f1.device_name=d1.device_name
			where 1=1
			<if test="bean.tenantDomain != null ">
	          and f1.tenant_domain = #{bean.tenantDomain}
	         </if>
	         <if test="bean.windFarm != null ">
	          and find_in_set(f1.wind_farm, #{bean.windFarm})
	         </if>
             order by f1.asset_number
    </select>
    
   <!-- 分页查询故障报警信息 -->
   <select id="selectKeyPositionByList" resultType="com.smartwf.hm.modules.alarmstatistics.vo.FaultInformationVO">
        select 
		    b.id,
			b.alarm_code,
			b.alarm_source,
			b.alarm_description,
			b.alarm_location,
			b.start_time,
			b.end_time,
			b.alarm_level,
			b.fault_type,
			b.manufacturers,
			b.device_code,
			b.device_name,
			b.wind_farm,
			b.alarm_status,
			b.asset_number,
			b.operating_status,
			b.create_time,
			b.update_time,
			b.tenant_domain 
		from key_position a left join fault_information b on a.asset_number=b.asset_number
        where  b.incident_type=1
        <if test="bean.tenantDomain != null ">
          and b.tenant_domain = #{bean.tenantDomain}
        </if>
        <if test="bean.windFarm != null ">
          and find_in_set(b.wind_farm, #{bean.windFarm})
        </if>
        <if test="bean.deviceCode != null ">
          and a.device_code = #{bean.deviceCode}
        </if>
        <if test="bean.deviceName != null ">
          and a.device_name like '%${bean.deviceName}%' 
        </if>
          order by b.start_time desc
    </select>
    
   
        
</mapper>