<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.hm.modules.alarmstatistics.dao.KeyPositionDao" >
    
    <!-- 分页查询故障报警信息 -->
    <select id="selectByDeviceCode" resultType="com.smartwf.hm.modules.alarmstatistics.pojo.KeyPosition">
        select 
        	id 
        from key_position where device_code =#{bean.deviceCode}
         <if test="bean.tenantDomain != null ">
          and tenant_domain = #{bean.tenantDomain}
        </if>
    </select>
    
    <!-- 查询所有重点机位 -->
    <select id="selectKeyPosition" resultType="com.smartwf.hm.modules.alarmstatistics.pojo.KeyPosition">
        select 
            id,
			device_code,
			device_name,
			asset_number,
			remark,
			create_time,
			create_user_id,
			create_user_name,
			tenant_domain 
        from key_position where 1=1
        <if test="bean.tenantDomain != null ">
          and tenant_domain = #{bean.tenantDomain}
        </if>
    </select>
   
</mapper>