<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.sm.modules.admin.dao.OrganizationDao" >

    <!-- 查询所有组织架构 -->
    <select id="selectOrganizationByAll" resultType="com.smartwf.sm.modules.admin.vo.OrganizationVO">
        select 
			id,
			pid,
			uid,
			sort,
			org_code,
			org_name,
			org_name as label,
			org_type,
			remark,
			wfmark,
			wind_farm,
			tenant_id,
			enable,
			level
		from sys_organization
		where 1=1
		<if test="bean.tenantId != null ">
            and tenant_id = #{bean.tenantId}
        </if>
        <if test="bean.orgCode != null ">
            and org_code like '%${bean.orgCode}%'
        </if>
        <if test="bean.orgName != null ">
            and org_name like '%${bean.orgName}%'
        </if>
        <if test="bean.enable != null ">
            and enable=#{bean.enable}
        </if>
        <if test="bean.remark != null ">
            and remark like '%${bean.remark}%'
        </if>
        <if test="bean.startTime != null">
            and create_time between #{bean.startTime} and #{bean.endTime}
        </if>
        order by sort asc
    </select>
    
    <!-- 查询所有组织架构 -->
    <select id="queryUserPostByOrgId" resultType="com.smartwf.sm.modules.admin.pojo.UserPost">
        select 
		   id,user_id,post_id,tenant_id
		from sys_user_post where post_id in (
		   select id from sys_post where organization_id= #{bean.id}
		)
    </select>
    
	<!-- 删除用户组织架构表-->
    <delete id="deleteUserOrgById" parameterType = "com.smartwf.sm.modules.admin.vo.OrganizationVO">
	   delete from sys_user_organization where organization_id = #{bean.id}
	</delete>
	
	<!-- 删除职务表-->
    <delete id="deletePostByOrgId" parameterType = "com.smartwf.sm.modules.admin.vo.OrganizationVO">
	   delete from sys_post where organization_id = #{bean.id}
	</delete>
	
	<!-- 批量删除用户职务表-->
    <delete id="deleteUserPostByOrgIds" parameterType = "java.util.List">
	   delete 
	      from sys_user_post 
	   where id in 
	   <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	   </foreach>
	</delete>
	
	 <!-- 根据用户ID查询所有组织架构 -->
    <select id="selectOrganizationByUserId" resultType="com.smartwf.common.pojo.TreeOrganization">
        select 
			b.id,
			b.pid,
			b.uid,
			b.sort,
			b.org_code,
			b.org_name,
			b.org_type
		from sys_user_organization a ,sys_organization b  
		where a.organization_id=b.id and b.enable = 0
        <if test="bean.id != null ">
            and a.user_id = #{bean.id}
        </if>
        <if test="bean.tenantId != null ">
            and b.tenant_id = #{bean.tenantId}
        </if>
    </select>
    
    <!-- 查询租户、用户所属风场 -->
    <select id="selectOrganizationByOrgUserId" resultType="com.smartwf.sm.modules.admin.vo.OrganizationVO">
        select 
		    a.id,
			a.pid,
			a.uid,
			a.sort,
			a.org_code,
			a.org_name,
			a.org_type,
			a.wfmark,
			a.remark,
			a.tenant_id,
			a.wind_farm,
			a.enable,
			a.level,
			a.create_time
		from sys_organization a ,sys_user_organization b where a.id=b.organization_id and a.tenant_id=b.tenant_id and a.org_type=1 and a.enable=0
		and b.tenant_id=#{bean.tenantId} 
		<if test="bean.userId != null ">
            and b.user_id=#{bean.userId}
        </if>
        order by sort asc
    </select>
    
    <!-- 查询租户、用户所属风场 -->
    <select id="selectOrganizationByTenantId" resultType="com.smartwf.sm.modules.admin.vo.OrganizationVO">
	     select 
		    a.id,
			a.pid,
			a.uid,
			a.sort,
			a.org_code,
			a.org_name,
			a.org_type,
			a.wfmark,
			a.remark,
			a.tenant_id,
			a.wind_farm,
			a.enable,
			a.level,
			a.create_time
		from sys_organization a where a.org_type=1 and a.enable=0
		and a.tenant_id=#{bean.tenantId} 
        order by sort asc
    </select>
    
    
    <!-- 查询用户所属风场 -->
    <select id="selectUserInfoByWindFarm" resultType="java.util.Map">
        select 
		   a.id as windFarm,
		   a.org_name as windFarmName
		from sys_organization a ,sys_user_organization b where a.id=b.organization_id and a.tenant_id=b.tenant_id and a.org_type=1 and a.enable=0
		and b.tenant_id=#{bean.tenantId} 
		and b.user_id=#{bean.userId}
        order by sort asc
    </select>
    
    
    <select id="selectUserOrganizationByUid" resultType="java.util.Map">
        select 
			a.id,
			a.org_name as orgName,
			(select count(*) from sys_user_organization where organization_id=a.id) as count
		from sys_organization a
		where a.tenant_id=#{bean.tenantId} 
		and a.uid=#{bean.id} 
		order by a.id asc
    </select>
    
    <select id="selectUserOrganizationByOrgId" resultType="java.util.Map">
        select 
         b.id,
         b.user_name
	   from sys_user_organization a, sys_user_info b
	   where a.user_id=b.id
	   and a.tenant_id=#{bean.tenantId} 
	   and a.organization_id=#{bean.id} 
    </select>
    
</mapper>