<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.sm.modules.admin.dao.PermissionDao" >

    <!-- 查询权限集合-->
    <select id="selectPermissionByAll" resultType="com.smartwf.sm.modules.admin.vo.ResourceVO">
        select 
			a.id as permission_id,
			a.permission_code,
			c.act_name,
			b.id,
			b.pid,
			b.uid,
			b.sort,
			b.level,
			b.res_code,
			b.res_name,
			b.res_type,
			b.res_href,
			b.permission,
			b.remark,
			b.tenant_id
		from sys_permission a 
		left join sys_resource b on a.res_id=b.id
		left join sys_user_action c on a.act_id = c.id
		where a.tenant_id=b.tenant_id and a.tenant_id=c.tenant_id
		and b.enable=0 and c.enable=0 
		<if test="bean.tenantId != null ">
            and a.tenant_id = #{bean.tenantId}
        </if>
    </select>
    
    <!-- 查询所有启用资源 -->
    <select id="selectResourceByAll" resultType="com.smartwf.sm.modules.admin.vo.ResourceVO">
       select 
			(-a.id) as id,
			b.pid,
			a.res_id as uid,
			b.sort,
			(b.level+1) as level,
			a.permission_code as res_code,
			c.act_name as res_name,
			(b.res_type+1) as res_type,
			b.res_href,
			b.permission,
			b.remark,
			b.tenant_id
		from sys_permission a 
		left join sys_resource b on a.res_id=b.id
		left join sys_user_action c on a.act_id = c.id
		where a.tenant_id=b.tenant_id and a.tenant_id=c.tenant_id
		and b.enable=0 and c.enable=0 
		<if test="bean.tenantId != null ">
            and a.tenant_id = #{bean.tenantId}
        </if>
        <if test="bean.id != null ">
            and b.id = #{bean.id} or b.pid= #{bean.id}
        </if>
        
		UNION ALL 
		
		select 
			id,
			pid,
			uid,
			sort,
			level,
			res_code,
			res_name,
			res_type,
			res_href,
			permission,
			remark,
			tenant_id
		from sys_resource
		where enable=0
		and pid in (
				select 
					b.pid
				from sys_permission a 
				left join sys_resource b on a.res_id=b.id
				left join sys_user_action c on a.act_id = c.id
				where a.tenant_id=b.tenant_id and a.tenant_id=c.tenant_id
				and b.enable=0 and c.enable=0 group by b.pid
		) or id in (
		        select 
					b.pid
				from sys_permission a 
				left join sys_resource b on a.res_id=b.id
				left join sys_user_action c on a.act_id = c.id
				where a.tenant_id=b.tenant_id and a.tenant_id=c.tenant_id
				and b.enable=0 and c.enable=0 group by b.pid
		)
		<if test="bean.tenantId != null ">
            and tenant_id = #{bean.tenantId}
        </if>
        <if test="bean.id != null ">
            and id = #{bean.id} or pid= #{bean.id}
        </if>
    </select>
    
</mapper>