<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.sm.modules.admin.dao.ResouceDao" >

     
    <!-- 批量删除资源 -->
    <delete id="deleteResouceByIds" parameterType = "java.util.List">
	    delete 
	       from sys_resouce
	    where id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	
	<!-- 批量删除子系统下的所有资源 -->
    <delete id="deleteResouceByfid" parameterType = "com.smartwf.sm.modules.admin.pojo.Resouce">
	    delete from sys_resouce where id in (
		   select id from ( select id from sys_resouce where fid= #{bean.id} ) h
		)
	</delete>
    
    <!-- 查询模块下所以子模块 -->
    <select id="selectResouceById" parameterType="com.smartwf.sm.modules.admin.pojo.Resouce">
        select 
	        id,
			pid,
			uid,
			sort,
			level,
			res_code,
			res_name,
			res_type,
			res_href,
			permission,
			remark,
			tenant_id,
			enable
		from sys_resouce
        where res_type=2 and uid = #{bean.id}
    </select>
    
    <!-- 初始化资源 -->
    <select id="queryResouceAll" resultType="com.smartwf.sm.modules.admin.pojo.Resouce">
        select 
	        id,
			pid,
			uid,
			sort,
			level,
			res_code,
			res_name,
			res_type,
			res_href,
			permission,
			remark,
			tenant_id,
			enable
		from sys_resouce
        where enable=0
    </select>
    
    <!-- 查询用户操作和资源 -->
    <select id="selectResouceUserActByPage" resultType="com.smartwf.sm.modules.admin.vo.ResouceVO">
        select 
			b.ids,
			f.id,
			f.pid,
			f.uid,
			f.sort,
			f.level,
			f.res_code,
			f.res_name,
			f.res_type,
			f.res_href,
			f.permission,
			f.remark,
			f.tenant_id,
			f.enable 
		from sys_resouce f left join (
		  select 
		     group_concat( c.id separator ',' ) as ids, d.res_id, d.tenant_id 
		  from sys_user_action c, sys_permission d 
		  where c.id = d.act_id and c.tenant_id = d.tenant_id and c.enable = 0 group by d.tenant_id,d.res_id 
		) b on f.id=b.res_id where f.enable=0 
        <if test="bean.tenantId != null ">
            and f.tenant_id = #{bean.tenantId}
        </if>
    </select>
    
</mapper>