<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.sm.modules.admin.dao.ResourceDao" >

     
    <!-- 批量删除资源 -->
    <delete id="deleteResourceByIds" parameterType = "java.util.List">
	    delete 
	       from sys_resource
	    where id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	
	<!-- 批量删除子系统下的所有资源 -->
    <delete id="deleteResourceByfid" parameterType = "com.smartwf.sm.modules.admin.pojo.Resource">
	    delete from sys_resource where id in (
		   select id from ( select id from sys_resource where fid= #{bean.id} ) h
		)
	</delete>
	
	<!-- 批量删除子系统下的所有资源 -->
    <delete id="deleteResourceById" parameterType = "com.smartwf.sm.modules.admin.pojo.Resource">
	    delete from sys_resource where uid = #{bean.id}
	</delete>
	
    
    <!-- 查询模块下所以子模块 -->
    <select id="selectResourceById" parameterType="com.smartwf.sm.modules.admin.pojo.Resource">
        select 
	        id,
			pid,
			uid,
			sort,
			level,
			res_code,
			res_name,
			res_type,
			res_href,
			permission,
			remark,
			tenant_id,
			enable
		from sys_resource
        where res_type=2 and uid = #{bean.id}
    </select>
    
    <!-- 初始化资源 -->
    <select id="queryResourceAll" resultType="com.smartwf.sm.modules.admin.pojo.Resource">
        select 
	        id,
			pid,
			uid,
			sort,
			level,
			res_code,
			res_name,
			res_type,
			res_href,
			permission,
			remark,
			tenant_id,
			enable
		from sys_resource
        where enable=0
    </select>
    
    <!-- 查询用户操作和资源 -->
    <select id="selectResourceUserActByPage" resultType="com.smartwf.sm.modules.admin.vo.ResourceVO">
        select 
			b.ids,
			f.id,
			f.pid,
			f.uid,
			f.sort,
			f.level,
			f.res_code,
			f.res_name,
			f.res_type,
			f.res_href,
			f.permission,
			f.remark,
			f.tenant_id,
			f.enable 
		from sys_resource f left join (
		  select 
		     group_concat( c.id separator ',' ) as ids, d.res_id, d.tenant_id 
		  from sys_user_action c, sys_permission d 
		  where c.id = d.act_id and c.tenant_id = d.tenant_id and c.enable = 0 group by d.tenant_id,d.res_id 
		) b on f.id=b.res_id where f.enable=0 
        <if test="bean.tenantId != null ">
            and f.tenant_id = #{bean.tenantId}
        </if>
    </select>
    
    <!-- 查询资源子系统列表 -->
    <select id="selectResourceByPid" resultType="com.smartwf.sm.modules.admin.pojo.Resource">
        select 
			id,
			pid,
			uid,
			sort,
			level,
			res_code,
			res_name,
			res_type,
			res_href,
			permission,
			remark,
			tenant_id,
			enable,
			create_time,
			create_user_id,
			create_user_name,
			update_time,
			update_user_id,
			update_user_name
		from sys_resource
		where pid=0 and uid=0 and tenant_id = #{bean.tenantId}
    </select>
    
    <!-- 查询所有资源数据 -->
    <select id="selectResourceByAll" resultType="com.smartwf.sm.modules.admin.vo.ResourceVO">
        select 
	        id,
			pid,
			uid,
			sort,
			level,
			res_code,
			res_name,
			res_type,
			res_href,
			permission,
			remark,
			tenant_id,
			enable
		from sys_resource
        where 1=1
        <if test="bean.tenantId != null ">
            and tenant_id= #{bean.tenantId}
        </if>
        <if test="bean.id != null ">
            and id= #{bean.id} or pid= #{bean.id}
        </if>
        
        UNION ALL 
        
        select 
			(-a.id) as id,
			b.pid,
			a.res_id as uid,
			b.sort,
			(b.level+1) as level,
			a.permission_code as res_code,
			c.act_name as res_name,
			(b.res_type+1) as res_type,
			b.res_href,
			b.permission,
			b.remark,
			b.tenant_id,
			b.enable
		from sys_permission a 
		left join sys_resource b on a.res_id=b.id
		left join sys_user_action c on a.act_id = c.id
		where a.tenant_id=b.tenant_id and a.tenant_id=c.tenant_id
		<if test="bean.tenantId != null ">
            and a.tenant_id= #{bean.tenantId}
        </if>
        <if test="bean.id != null ">
            and b.id= #{bean.id} or b.pid= #{bean.id}
        </if>
    </select>
    
    <!-- 主键查询 -->
    <select id="selecResourcetById" resultType="com.smartwf.sm.modules.admin.vo.ResourceVO">
        select 
		   (select GROUP_CONCAT(act_id order by act_id) from sys_permission where res_id=a.id group by res_id) as ids,
			a.id,
			a.pid,
			a.uid,
			a.sort,
			a.level,
			a.res_code,
			a.res_name,
			a.res_type,
			a.res_href,
			a.permission,
			a.remark,
			a.tenant_id,
			a.enable,
			a.create_time,
			a.create_user_id,
			a.create_user_name,
			a.update_time,
			a.update_user_id,
			a.update_user_name
		from sys_resource a
		where a.id = #{bean.id}
    </select>
    
    
    
</mapper>