<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.sm.modules.admin.dao.RoleDao" >

     
    <!-- 批量删除角色 -->
    <delete id="deleteRoleByIds" parameterType = "java.util.List">
	    delete 
	       from sys_role 
	    where id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	
	<!-- 查询角色列表 -->
     <select id="queryRoleAll" resultType="com.smartwf.sm.modules.admin.pojo.Role">
        select 
			id,
			role_code,
			role_name,
			tenant_id,
			enable,
			sort,
			remark
		from sys_Role
		where enable=0 order by create_time desc
    </select>
    
	<!-- 删除用户角色表-->
    <delete id="deleteUserRoleById" parameterType = "com.smartwf.sm.modules.admin.vo.RoleVO">
	   delete from sys_user_role where role_id = #{bean.id}
	</delete>
	
	<!-- 删除角色权限表-->
    <delete id="deleteRolePermissionById" parameterType = "com.smartwf.sm.modules.admin.vo.RoleVO">
	   delete from sys_role_permission where role_id = #{bean.id}
	</delete>
	
    <!-- 根据用户ID查询所有用户角色 -->
    <select id="selectTreeRoleByUserId" resultType="com.smartwf.common.pojo.TreeRole">
        select 
			b.id,
			b.role_code,
			b.role_name,
			b.tenant_id
		from sys_user_role a ,sys_role b 
		where a.role_id=b.id and b.enable = 0
        <if test="bean.id != null ">
            and a.user_id = #{bean.id}
        </if>
        <if test="bean.tenantId != null ">
            and b.tenant_id = #{bean.tenantId}
        </if>
    </select>
    
    
    <!-- 查询所有角色集合对象 -->
    <select id="selectRoleByIds" resultType="com.smartwf.sm.modules.admin.pojo.Role">
	    select 
			id,
			role_code,
			eng_name,
			role_name,
			tenant_id,
			enable,
			sort,
			remark
		from sys_role where enable=0
         and id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>
    
    
	<!-- 查询租户-->
    <select id="selectTenantByGroup" parameterType="java.lang.String" resultType="com.smartwf.sm.modules.admin.pojo.Role">
        select eng_name,tenant_id from sys_role where eng_name=#{shiftGroup} group by eng_name,tenant_id
    </select>
    
    
    
    <!-- 查询所有角色集合对象 -->
    <select id="selectRoleByUserId" resultType="com.smartwf.sm.modules.admin.pojo.Role">
	     select 
			a.id,
			a.role_code,
			a.eng_name,
			a.role_name,
			a.tenant_id
		 from sys_role a,sys_user_role b where a.id=b.role_id and b.user_id=#{bean.id}
    </select>
    
    
    
</mapper>