<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.sm.modules.admin.dao.TenantConfigDao" >

    <!-- 批量删除多租户配置 -->
    <delete id="deleteTenantConfigByIds" parameterType = "java.util.List">
	    delete 
	       from sys_tenant_config  
	    where id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
    
	
</mapper>