<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.sm.modules.admin.dao.TenantDao" >

    <!-- 批量删除租户 -->
    <delete id="deleteTenantByIds" parameterType = "java.util.List">
	    delete 
	       from sys_tenant  
	    where id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
    
    <!-- 将所有租户默认状态设置不选中 -->
    <update id="updateBySel">
         update sys_tenant set sel=0
    </update>
    
    <!-- 删除组织架构表-->
    <delete id="deleteOrgByTenantId" parameterType = "com.smartwf.sm.modules.admin.vo.TenantVO">
	   delete from sys_organization where tenant_id = #{bean.id}
	</delete>
    <!-- 删除组织架构表-->
    <delete id="deleteUserOrgByTenantId" parameterType = "com.smartwf.sm.modules.admin.vo.TenantVO">
	   delete from sys_user_organization where tenant_id = #{bean.id}
	</delete>
	<!-- 删除职务表 -->
    <delete id="deletePostByTenantId" parameterType = "com.smartwf.sm.modules.admin.vo.TenantVO">
	   delete from sys_post where tenant_id = #{bean.id}
	</delete>
	<!-- 删除用户职务表 -->
    <delete id="deleteUserPostByTenantId" parameterType = "com.smartwf.sm.modules.admin.vo.TenantVO">
	    delete from sys_user_post where tenant_id = #{bean.id}
	</delete>
	<!-- 删除角色表 -->
    <delete id="deleteRoleByTenantId" parameterType = "com.smartwf.sm.modules.admin.vo.TenantVO">
	    delete from sys_role where tenant_id = #{bean.id}
	</delete>
	<!-- 删除用户角色表 -->
    <delete id="deleteUserRoleByTenantId" parameterType = "com.smartwf.sm.modules.admin.vo.TenantVO">
	    delete from sys_user_role where tenant_id = #{bean.id}
	</delete>
	<!-- 删除角色权限表 -->
    <delete id="deleteRolePermissionByTenantId" parameterType = "com.smartwf.sm.modules.admin.vo.TenantVO">
	    delete from sys_role_permission where tenant_id = #{bean.id}
	</delete>
	<!-- 删除用户表 -->
    <delete id="deleteUserByTenantId" parameterType = "com.smartwf.sm.modules.admin.vo.TenantVO">
	    delete from sys_user_info where tenant_id = #{bean.id}
	</delete>
	<!-- 删除权限表 -->
    <delete id="deletePermissionByTenantId" parameterType = "com.smartwf.sm.modules.admin.vo.TenantVO">
	    delete from sys_permission where tenant_id = #{bean.id}
	</delete>
	<!-- 删除资源表 -->
    <delete id="deleteResourceByTenantId" parameterType = "com.smartwf.sm.modules.admin.vo.TenantVO">
	    delete from sys_resource where tenant_id = #{bean.id}
	</delete>
	<!-- 删除用户操作表 -->
    <delete id="deleteUserActionByTenantId" parameterType = "com.smartwf.sm.modules.admin.vo.TenantVO">
	    delete from sys_user_action where tenant_id = #{bean.id}
	</delete>
	<!-- 删除数据字典表 -->
    <delete id="deleteDictionaryByTenantId" parameterType = "com.smartwf.sm.modules.admin.vo.TenantVO">
	    delete from sys_dict_data where tenant_id = #{bean.id}
	</delete>
	
	<!-- 批量删除组织架构表-->
    <delete id="deleteOrgByTenantIds" parameterType = "java.util.List">
	   delete from sys_organization where tenant_id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
    <!-- 批量删除组织架构表-->
    <delete id="deleteUserOrgByTenantIds" parameterType = "java.util.List">
	   delete from sys_user_organization where tenant_id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	<!-- 批量删除职务表 -->
    <delete id="deletePostByTenantIds" parameterType = "java.util.List">
	   delete from sys_post where tenant_id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	<!-- 批量删除用户职务表 -->
    <delete id="deleteUserPostByTenantIds" parameterType = "java.util.List">
	    delete from sys_user_post where tenant_id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	<!-- 批量删除角色表 -->
    <delete id="deleteRoleByTenantIds" parameterType = "java.util.List">
	    delete from sys_role where tenant_id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	<!-- 批量删除用户角色表 -->
    <delete id="deleteUserRoleByTenantIds" parameterType = "java.util.List">
	    delete from sys_user_role where tenant_id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	<!-- 批量删除角色权限表 -->
    <delete id="deleteRolePermissionByTenantIds" parameterType = "java.util.List">
	    delete from sys_role_permission where tenant_id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	<!-- 批量删除用户表 -->
    <delete id="deleteUserByTenantIds" parameterType = "java.util.List">
	    delete from sys_user_info where tenant_id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	
	<!-- 批量删除权限表 -->
    <delete id="deletePermissionByTenantIds" parameterType = "java.util.List">
	    delete from sys_permission where tenant_id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	<!-- 批量删除资源表 -->
    <delete id="deleteResourceByTenantIds" parameterType = "java.util.List">
	    delete from sys_resource where tenant_id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	<!-- 批量删除用户操作表 -->
    <delete id="deleteUserActionByTenantIds" parameterType = "java.util.List">
	    delete from sys_user_action where tenant_id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
    <!-- 批量删除数据字典表 -->
    <delete id="deleteDictionaryByTenantIds" parameterType = "java.util.List">
	    delete from sys_dict_data where tenant_id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	
</mapper>