<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.sm.modules.admin.dao.UserInfoDao" >

     <!-- 查询用户资源列表 -->
     <select id="selectUserInfoByPage" resultType="com.smartwf.sm.modules.admin.pojo.UserInfo">
        select
        	id,
			user_code,
			login_code,
			user_name,
			email,
			mobile,
			phone,
			sex,
			avatar,
			sign,
			wx_openid,
			qq_openid,
			address,
			remark,
			tenant_id,
			status,
			mgr_type,
			pwd_question,
			pwd_question_answer,
			pwd_question2,
			pwd_question_answer2,
			pwd_question3,
			pwd_question_answer3,
			enable,
			create_time,
			create_user_id,
			create_user_name,
			update_time,
			update_user_id,
			update_user_name
        from sys_user_info 
        <where>
            <if test="bean.userCode != null ">
                and user_code=#{bean.userCode}
            </if>
            <if test="bean.loginCode != null ">
                and login_code=#{bean.loginCode}
            </if>
            <if test="bean.userName != null ">
                and user_name=#{bean.userName}
            </if>
            <if test="bean.mobile != null ">
                and mobile like '%${bean.mobile}%'
            </if>
            <if test="bean.enable != null ">
                and enable=#{bean.enable}
            </if>
            <if test="bean.status != null ">
                and status=#{bean.status}
            </if>
            <if test="bean.mgrType != null ">
                and mgr_type &lt;= #{bean.mgrType}
            </if>
            <if test="bean.tenantId != null ">
                and tenant_id = #{bean.tenantId}
            </if>
        </where>
        order by create_time desc
    </select>
    
     <!-- 查询用户资源列表 -->
     <select id="selectUserInfoById" resultType="com.smartwf.sm.modules.admin.vo.UserInfoVO">
       select 
		    a.id,
			a.user_code,
			a.login_code,
			a.user_name,
			a.email,
			a.mobile,
			a.phone,
			a.sex,
			a.avatar,
			a.sign,
			a.wx_openid,
			a.qq_openid,
			a.address,
			a.remark,
			a.tenant_id,
			a.status,
			a.mgr_type,
			a.pwd_question,
			a.pwd_question_answer,
			a.pwd_question2,
			a.pwd_question_answer2,
			a.pwd_question3,
			a.pwd_question_answer3,
			a.enable,
		    (select group_concat(organization_id separator ',') from sys_user_organization where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as organizationIds,
			(select group_concat(post_id separator ',') from sys_user_post where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as postIds,
			(select group_concat(role_id separator ',') from sys_user_role where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as roleIds 
		from sys_user_info a
		where id= #{bean.id}
    </select>
    
    
    
    
    <!-- 批量删除用户资料 -->
    <delete id="deleteUserInfoByIds" parameterType = "java.util.List">
	    delete 
	       from sys_user_info  
	    where id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
    
    <!-- 单个删除用户资料 -->
    <delete id="deleteUserInfoById" parameterType = "com.smartwf.sm.modules.admin.vo.UserInfoVO">
	    delete from sys_user_info where  id = #{bean.id}
	</delete>
	
	<!-- 删除用户组织架构 -->
	<delete id="deleteUserOrgById" parameterType = "com.smartwf.sm.modules.admin.vo.UserInfoVO">
	    delete from sys_user_organization where user_id = #{bean.id}
	</delete>
	<!-- 删除用户职务 -->
	<delete id="deleteUserPostById" parameterType = "com.smartwf.sm.modules.admin.vo.UserInfoVO">
	    delete from sys_user_post where user_id = #{bean.id}
	</delete>
	<!-- 删除用户角色 -->
	<delete id="deleteUserRoleById" parameterType = "com.smartwf.sm.modules.admin.vo.UserInfoVO">
	    delete from sys_user_role where user_id = #{bean.id}
	</delete>
	
	<!-- 修改密码 -->
    <update id="updateUserPwd">
         update sys_user_info set pwd=#{newPwd} where pwd=#{oldPwd} and id=#{id}
    </update>
    
    
    
    <!-- 通过用户编码查询用户 -->
     <select id="selectUserInfoByUserCode" resultType="com.smartwf.common.pojo.User">
        select 
			a.id,
			a.user_code,
			a.login_code,
			a.user_name,
			a.email,
			a.mobile,
			a.phone,
			a.sex,
			a.avatar,
			a.sign,
			a.wx_openid,
			a.qq_openid,
			a.address,mgr_type,
		  a.remark,
		  a.tenant_id,
		  b.tenant_code,
		  b.tenant_name,
		  b.tenant_pw,
		  b.tenant_domain,
		  b.logo_url,
		  b.sel
		from sys_user_info a left join sys_tenant b on a.tenant_id=b.id 
		where a.enable=0  and b.enable=0
        <if test="bean.userCode != null ">
            and a.user_code = #{bean.userCode}
        </if>
        <if test="bean.tenantId != null ">
            and a.tenant_id = #{bean.tenantId}
        </if>
    </select>
    
    <!-- 查询用户头像路劲 -->
    <select id="selectUserInfoByCreateId"  resultType="com.smartwf.sm.modules.admin.pojo.UserInfo">
	    select id,avatar from sys_user_info where id in 
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</select>

	
    <!-- 根据租户和角色名称 分组查询 -->
    <select id="selectUserInfoByShift" resultType="com.smartwf.sm.modules.admin.pojo.UserInfo" >
         select 
			a.id,
			a.login_code,
			a.user_name,
			a.email,
			a.mobile,
			a.phone,
			a.sex,
			a.avatar,
			a.sign,
			a.wx_openid,
			a.qq_openid,
			a.address,
			a.remark,
			a.tenant_id,
			a.status,
			a.mgr_type
		from sys_user_info a, sys_role b, sys_user_role c 
		where a.id=c.user_id and b.id= c.role_id and a.tenant_id=c.tenant_id and b.tenant_id = c.tenant_id
		and b.eng_name=#{bean.engName} and b.tenant_id=#{bean.tenantId}
    </select>
    
    <!-- 查询所有排班用户 (预留接口) -->
    <select id="selectUserInfoByRoleParam-BAK"  resultType="com.smartwf.sm.modules.admin.vo.UserInfoVO" >
         select 
		  a.id,
			a.user_code,
			a.login_code,
			a.user_name,
			a.email,
			a.mobile,
			a.phone,
			a.sex,
			a.avatar,
			a.sign,
			a.wx_openid,
			a.qq_openid,
			a.address,
			a.remark,
			a.tenant_id,
			a.status,
			a.mgr_type,
			a.pwd_question,
			a.pwd_question_answer,
			a.pwd_question2,
			a.pwd_question_answer2,
			a.pwd_question3,
			a.pwd_question_answer3,
			a.enable,
		    (select group_concat(organization_id separator ',') from sys_user_organization where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as organizationIds,
		    (select group_concat(b1.org_name separator ',')  from sys_user_organization a1,sys_organization b1 where a1.organization_id=b1.id and a1.tenant_id=b1.tenant_id  and b1.org_type=1 and a1.user_id=a.id  ) as windfarmName,
			(select group_concat(post_id separator ',') from sys_user_post where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as postIds,
			(select group_concat(role_id separator ',') from sys_user_role where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as roleIds,
            (select group_concat(b1.org_name separator ',') from sys_user_organization a1,sys_organization b1  where a1.organization_id = b1.id and a.id=a1.user_id and a.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as organizationName,
			(select group_concat(b1.post_name separator ',') from sys_user_post a1,sys_post b1 where a1.post_id = b1.id and a.id=user_id and a.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as postName,
			(select group_concat(b1.role_name separator ',') from sys_user_role a1,sys_role b1 where a1.role_id = b1.id and a.id=user_id and a.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as roleName 
		from sys_user_info  a, sys_role b, sys_user_role c 
		where a.id=c.user_id and b.id= c.role_id and a.tenant_id=c.tenant_id and b.tenant_id = c.tenant_id
		and b.eng_name=#{shiftGroup} and b.tenant_id= (select id from sys_tenant where enable=0 and tenant_domain=#{tenantDomain} ) 
		<if test="windFarm != null ">
		and a.id in (
			select k3.id from sys_organization k1 , sys_user_organization k2 ,sys_user_info k3
			where k1.id=k2.organization_id and k2.user_id=k3.id
			and k1.tenant_id=k2.tenant_id and k2.tenant_id=k3.tenant_id
			and k1.org_type=1
			and k1.id=#{windFarm}
        )
        </if>
    </select>
    
    <!-- 查询所有排班用户  and b.eng_name=#{shiftGroup}   -->
    <select id="selectUserInfoByRoleParam"  resultType="com.smartwf.sm.modules.admin.vo.UserInfoVO" >
         select 
		      		f.id,
					f.user_code,
					f.login_code,
					f.user_name,
					f.email,
					f.mobile,
					f.phone,
					f.sex,
					f.avatar,
					f.sign,
					f.wx_openid,
					f.qq_openid,
					f.address,
					f.remark,
					f.tenant_id,
					f.status,
					f.mgr_type,
					f.pwd_question,
					f.pwd_question_answer,
					f.pwd_question2,
					f.pwd_question_answer2,
					f.pwd_question3,
					f.pwd_question_answer3,
					f.enable,
		      f.windfarmName,
		      (select group_concat(b1.id separator ',') from sys_user_organization a1,sys_organization b1  where a1.organization_id = b1.id and f.id=a1.user_id and f.tenant_id=a1.tenant_id and b1.org_type not in (-99,1)   group by a1.tenant_id,a1.user_id) as organizationIds,
		      (select group_concat(b1.org_name separator ',') from sys_user_organization a1,sys_organization b1  where a1.organization_id = b1.id and f.id=a1.user_id and f.tenant_id=a1.tenant_id and  b1.org_type not in (-99,1)  group by a1.tenant_id,a1.user_id) as organizationName,
		      group_concat(postIds separator ',') as postIds,
		      group_concat(postName separator ',') as postName,
		      (select group_concat(b1.id separator ',') from sys_user_role a1,sys_role b1 where a1.role_id = b1.id and f.id=user_id and f.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as roleIds, 
			  (select group_concat(b1.eng_name separator ',') from sys_user_role a1,sys_role b1 where a1.role_id = b1.id and f.id=user_id and f.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as roleEngName,		
			  (select group_concat(b1.role_name separator ',') from sys_user_role a1,sys_role b1 where a1.role_id = b1.id and f.id=user_id and f.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as roleName 
		 from (
		   select 
				  a.id,
					a.user_code,
					a.login_code,
					a.user_name,
					a.email,
					a.mobile,
					a.phone,
					a.sex,
					a.avatar,
					a.sign,
					a.wx_openid,
					a.qq_openid,
					a.address,
					a.remark,
					a.tenant_id,
					a.status,
					a.mgr_type,
					a.pwd_question,
					a.pwd_question_answer,
					a.pwd_question2,
					a.pwd_question_answer2,
					a.pwd_question3,
					a.pwd_question_answer3,
					a.enable,
				      d1.id as organizationIds,
				      d1.org_name as windfarmName,
				      d1.org_name as organizationName,
				      e1.id as postIds,
				      e1.post_name as postName,
				      b.id as roleIds,
					  b.role_name as roleName
				from sys_user_info a, sys_role b, sys_user_role c ,sys_organization d1, sys_user_organization d2, sys_post e1 ,sys_user_post e2
				where a.enable=0 and b.enable=0 and d1.enable=0 and e1.enable =0 and d1.org_type=1
		    and a.id=c.user_id and b.id= c.role_id 
		    and a.id=d2.user_id and d1.id=d2.organization_id
		    and a.id=e2.user_id and e1.id=e2.post_id
		    and a.tenant_id=c.tenant_id and b.tenant_id = c.tenant_id and a.tenant_id=d1.tenant_id and a.tenant_id=e1.tenant_id
			
			and a.tenant_id= (select id from sys_tenant where enable=0 and tenant_domain=#{tenantDomain})
			<if test="windFarm != null ">
		    and d1.id=#{windFarm}
		    </if>
		    group by a.id
		) f group by f.id order by f.id
    </select>
    
    
     <!-- 排班用户主键查询  and b.eng_name=#{shiftGroup}  -->
    <select id="selectUserInfoByRoleByUserId"  resultType="com.smartwf.sm.modules.admin.vo.UserInfoVO" >
         select 
		  a.id,
			a.user_code,
			a.login_code,
			a.user_name,
			a.email,
			a.mobile,
			a.phone,
			a.sex,
			a.avatar,
			a.sign,
			a.wx_openid,
			a.qq_openid,
			a.address,
			a.remark,
			a.tenant_id,
			a.status,
			a.mgr_type,
			a.pwd_question,
			a.pwd_question_answer,
			a.pwd_question2,
			a.pwd_question_answer2,
			a.pwd_question3,
			a.pwd_question_answer3,
			a.enable,
		    (select group_concat(organization_id separator ',') from sys_user_organization where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as organizationIds,
		    (select group_concat(b1.org_name separator ',')  from sys_user_organization a1,sys_organization b1 where a1.organization_id=b1.id and a1.tenant_id=b1.tenant_id  and b1.org_type=1 and a1.user_id=a.id  ) as windfarmName,
			(select group_concat(post_id separator ',') from sys_user_post where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as postIds,
			(select group_concat(role_id separator ',') from sys_user_role where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as roleIds,
            (select group_concat(b1.org_name separator ',') from sys_user_organization a1,sys_organization b1  where a1.organization_id = b1.id and a.id=a1.user_id and a.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as organizationName,
			(select group_concat(b1.post_name separator ',') from sys_user_post a1,sys_post b1 where a1.post_id = b1.id and a.id=user_id and a.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as postName,
			(select group_concat(b1.eng_name separator ',') from sys_user_role a1,sys_role b1 where a1.role_id = b1.id and a.id=user_id and a.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as roleEngName,
			(select group_concat(b1.role_name separator ',') from sys_user_role a1,sys_role b1 where a1.role_id = b1.id and a.id=user_id and a.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as roleName 
		from sys_user_info  a, sys_role b, sys_user_role c 
		where a.id=c.user_id and b.id= c.role_id and a.tenant_id=c.tenant_id and b.tenant_id = c.tenant_id
		
		and b.tenant_id= (select id from sys_tenant where enable=0 and tenant_domain=#{tenantDomain} ) 
		and a.id in (${ids})
		 group by a.id
    </select>
    
    
    <select id="selectUserInfoByParam" resultType="java.util.Map">
        select 
			id,
			user_name 
		from sys_user_info where user_name like '%${bean.remark}%' or mobile like '%${bean.remark}%'
	    and tenant_id=#{bean.tenantId} 
    </select>
    
    <!-- 知识中心（用户id查询用户姓名） -->
    <select id="selectUserInfoByIds" resultType="java.util.Map">
        select 
			id,
			user_name as userName
		from sys_user_info where id in 
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	    <if test="tenantId != null ">
	        and tenant_id=#{tenantId} 
	    </if>
    </select>
    
    <!-- 知识中心（用户id查询用户姓名） -->
    <select id="selectUserOrganizationByOrgId" resultType="java.util.Map">
       select f.id,f.userName from (
			select c.id,c.user_name as userName from sys_user_organization a  ,(
			        select f1.id from ( select #{orgid} as id from sys_organization limit 0,1  ) f1
                    UNION all 
			        (
						select id from (
								select t1.id,
										if(find_in_set(uid, @pids) > 0, @pids := concat(@pids, ',', id), 0) as ischild
								from ( select id,uid from sys_organization t 
								where 1=1 order by uid, id ) t1, (select @pids := #{orgid} ) t2 ) t3 
						where ischild != 0
					)
			) b,sys_user_info c where a.organization_id = b.id and c.id=a.user_id  
			<if test="tenantId != null ">
		        and c.tenant_id=#{tenantId} 
		    </if>
		) f group by f.id
    </select>
    
    
    <!-- 手机移动app查询 -->
    <select id="selectUserInfoByLoginCode" resultType="com.smartwf.sm.modules.admin.pojo.UserInfo">
       select f.id,f.user_code,f.login_code,f.user_name,f.tenant_id from (
			SELECT
				a.id,
			    a.user_code,
				a.login_code,
				a.user_name,
				b.id AS tenant_id,
				b.tenant_domain,
			  CONCAT(a.login_code,'@',tenant_domain) as userDomain
			FROM
				sys_user_info a,
				sys_tenant b
			WHERE
				a.tenant_id = b.id
		) f where f.userDomain=#{user.loginCode}
    </select>
    
    <!-- 知识中心-查询租户下所有人 -->
    <select id="selectUserInfoByAll" resultType="java.util.Map">
       select id,login_code,user_name,enable from sys_user_info where tenant_id=#{tenantId}
    </select>
</mapper>