<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.sm.modules.admin.dao.UserInfoDao" >

     <!-- 查询用户资源列表 -->
     <select id="selectUserInfoByPage" resultType="com.smartwf.sm.modules.admin.pojo.UserInfo">
        select
        	id,
			user_code,
			login_code,
			user_name,
			email,
			mobile,
			phone,
			sex,
			avatar,
			sign,
			wx_openid,
			qq_openid,
			address,
			remark,
			tenant_id,
			status,
			mgr_type,
			pwd_question,
			pwd_question_answer,
			pwd_question2,
			pwd_question_answer2,
			pwd_question3,
			pwd_question_answer3,
			enable,
			create_time,
			create_user_id,
			create_user_name,
			update_time,
			update_user_id,
			update_user_name
        from sys_user_info 
        <where>
            <if test="bean.userCode != null ">
                and user_code=#{bean.userCode}
            </if>
            <if test="bean.loginCode != null ">
                and login_code=#{bean.loginCode}
            </if>
            <if test="bean.userName != null ">
                and user_name=#{bean.userName}
            </if>
            <if test="bean.mobile != null ">
                and mobile like '%${bean.mobile}%'
            </if>
            <if test="bean.enable != null ">
                and enable=#{bean.enable}
            </if>
            <if test="bean.status != null ">
                and status=#{bean.status}
            </if>
            <if test="bean.mgrType != null ">
                and mgr_type &lt;= #{bean.mgrType}
            </if>
            <if test="bean.tenantId != null ">
                and tenant_id = #{bean.tenantId}
            </if>
        </where>
        order by create_time desc
    </select>
    
     <!-- 查询用户资源列表 -->
     <select id="selectUserInfoById" resultType="com.smartwf.sm.modules.admin.vo.UserInfoVO">
       select 
		    a.id,
			a.user_code,
			a.login_code,
			a.user_name,
			a.email,
			a.mobile,
			a.phone,
			a.sex,
			a.avatar,
			a.sign,
			a.wx_openid,
			a.qq_openid,
			a.address,
			a.remark,
			a.tenant_id,
			a.status,
			a.mgr_type,
			a.pwd_question,
			a.pwd_question_answer,
			a.pwd_question2,
			a.pwd_question_answer2,
			a.pwd_question3,
			a.pwd_question_answer3,
			a.enable,
		    (select group_concat(organization_id separator ',') from sys_user_organization where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as organizationIds,
			(select group_concat(post_id separator ',') from sys_user_post where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as postIds,
			(select group_concat(role_id separator ',') from sys_user_role where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as roleIds 
		from sys_user_info a
		where id= #{bean.id}
    </select>
    
    
    
    
    <!-- 批量删除用户资料 -->
    <delete id="deleteUserInfoByIds" parameterType = "java.util.List">
	    delete 
	       from sys_user_info  
	    where id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
    
    <!-- 单个删除用户资料 -->
    <delete id="deleteUserInfoById" parameterType = "com.smartwf.sm.modules.admin.vo.UserInfoVO">
	    delete from sys_user_info where  id = #{bean.id}
	</delete>
	
	<!-- 删除用户组织架构 -->
	<delete id="deleteUserOrgById" parameterType = "com.smartwf.sm.modules.admin.vo.UserInfoVO">
	    delete from sys_user_organization where user_id = #{bean.id}
	</delete>
	<!-- 删除用户职务 -->
	<delete id="deleteUserPostById" parameterType = "com.smartwf.sm.modules.admin.vo.UserInfoVO">
	    delete from sys_user_post where user_id = #{bean.id}
	</delete>
	<!-- 删除用户角色 -->
	<delete id="deleteUserRoleById" parameterType = "com.smartwf.sm.modules.admin.vo.UserInfoVO">
	    delete from sys_user_role where user_id = #{bean.id}
	</delete>
	
	<!-- 修改密码 -->
    <update id="updateUserPwd">
         update sys_user_info set pwd=#{newPwd} where pwd=#{oldPwd} and id=#{id}
    </update>
    
    
    
    <!-- 通过用户编码查询用户 -->
     <select id="selectUserInfoByUserCode" resultType="com.smartwf.common.pojo.User">
        select 
			a.id,
			a.user_code,
			a.login_code,
			a.user_name,
			a.email,
			a.mobile,
			a.phone,
			a.sex,
			a.avatar,
			a.sign,
			a.wx_openid,
			a.qq_openid,
			a.address,mgr_type,
		  a.remark,
		  a.tenant_id,
		  b.tenant_code,
		  b.tenant_name,
		  b.tenant_pw,
		  b.tenant_domain,
		  b.sel
		from sys_user_info a left join sys_tenant b on a.tenant_id=b.id 
		where a.enable=0  and b.enable=0
        <if test="bean.userCode != null ">
            and a.user_code = #{bean.userCode}
        </if>
        <if test="bean.tenantId != null ">
            and a.tenant_id = #{bean.tenantId}
        </if>
    </select>
    
    <!-- 查询用户头像路劲 -->
    <select id="selectUserInfoByCreateId"  resultType="com.smartwf.sm.modules.admin.pojo.UserInfo">
	    select id,avatar from sys_user_info where id in 
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</select>

	
    <!-- 根据租户和角色名称 分组查询 -->
    <select id="selectUserInfoByShift" resultType="com.smartwf.sm.modules.admin.pojo.UserInfo" >
         select 
			a.id,
			a.login_code,
			a.user_name,
			a.email,
			a.mobile,
			a.phone,
			a.sex,
			a.avatar,
			a.sign,
			a.wx_openid,
			a.qq_openid,
			a.address,
			a.remark,
			a.tenant_id,
			a.status,
			a.mgr_type
		from sys_user_info a, sys_role b, sys_user_role c 
		where a.id=c.user_id and b.id= c.role_id and a.tenant_id=c.tenant_id and b.tenant_id = c.tenant_id
		and b.eng_name=#{bean.engName} and b.tenant_id=#{bean.tenantId}
    </select>
    
    <!-- 查询所有排班用户 -->
    <select id="selectUserInfoByRoleParam"  resultType="com.smartwf.sm.modules.admin.vo.UserInfoVO" >
         select 
		  a.id,
			a.user_code,
			a.login_code,
			a.user_name,
			a.email,
			a.mobile,
			a.phone,
			a.sex,
			a.avatar,
			a.sign,
			a.wx_openid,
			a.qq_openid,
			a.address,
			a.remark,
			a.tenant_id,
			a.status,
			a.mgr_type,
			a.pwd_question,
			a.pwd_question_answer,
			a.pwd_question2,
			a.pwd_question_answer2,
			a.pwd_question3,
			a.pwd_question_answer3,
			a.enable,
		    (select group_concat(organization_id separator ',') from sys_user_organization where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as organizationIds,
		    (select group_concat(b1.org_name separator ',')  from sys_user_organization a1,sys_organization b1 where a1.organization_id=b1.id and a1.tenant_id=b1.tenant_id  and b1.org_type=1 and a1.user_id=a.id  ) as windfarmName,
			(select group_concat(post_id separator ',') from sys_user_post where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as postIds,
			(select group_concat(role_id separator ',') from sys_user_role where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as roleIds,
            (select group_concat(b1.org_name separator ',') from sys_user_organization a1,sys_organization b1  where a1.organization_id = b1.id and a.id=a1.user_id and a.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as organizationName,
			(select group_concat(b1.post_name separator ',') from sys_user_post a1,sys_post b1 where a1.post_id = b1.id and a.id=user_id and a.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as postName,
			(select group_concat(b1.role_name separator ',') from sys_user_role a1,sys_role b1 where a1.role_id = b1.id and a.id=user_id and a.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as roleName 
		from sys_user_info  a, sys_role b, sys_user_role c 
		where a.id=c.user_id and b.id= c.role_id and a.tenant_id=c.tenant_id and b.tenant_id = c.tenant_id
		and b.eng_name=#{shiftGroup} and b.tenant_id= (select id from sys_tenant where enable=0 and tenant_domain=#{tenantDomain} ) 
    </select>
    
    
     <!-- 排班用户主键查询 -->
    <select id="selectUserInfoByRoleByUserId"  resultType="com.smartwf.sm.modules.admin.vo.UserInfoVO" >
         select 
		  a.id,
			a.user_code,
			a.login_code,
			a.user_name,
			a.email,
			a.mobile,
			a.phone,
			a.sex,
			a.avatar,
			a.sign,
			a.wx_openid,
			a.qq_openid,
			a.address,
			a.remark,
			a.tenant_id,
			a.status,
			a.mgr_type,
			a.pwd_question,
			a.pwd_question_answer,
			a.pwd_question2,
			a.pwd_question_answer2,
			a.pwd_question3,
			a.pwd_question_answer3,
			a.enable,
		    (select group_concat(organization_id separator ',') from sys_user_organization where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as organizationIds,
		    (select group_concat(b1.org_name separator ',')  from sys_user_organization a1,sys_organization b1 where a1.organization_id=b1.id and a1.tenant_id=b1.tenant_id  and b1.org_type=1 and a1.user_id=a.id  ) as windfarmName,
			(select group_concat(post_id separator ',') from sys_user_post where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as postIds,
			(select group_concat(role_id separator ',') from sys_user_role where a.id=user_id and a.tenant_id=tenant_id group by tenant_id,user_id) as roleIds,
            (select group_concat(b1.org_name separator ',') from sys_user_organization a1,sys_organization b1  where a1.organization_id = b1.id and a.id=a1.user_id and a.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as organizationName,
			(select group_concat(b1.post_name separator ',') from sys_user_post a1,sys_post b1 where a1.post_id = b1.id and a.id=user_id and a.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as postName,
			(select group_concat(b1.role_name separator ',') from sys_user_role a1,sys_role b1 where a1.role_id = b1.id and a.id=user_id and a.tenant_id=a1.tenant_id group by a1.tenant_id,a1.user_id) as roleName 
		from sys_user_info  a, sys_role b, sys_user_role c 
		where a.id=c.user_id and b.id= c.role_id and a.tenant_id=c.tenant_id and b.tenant_id = c.tenant_id
		and b.eng_name=#{shiftGroup} and b.tenant_id= (select id from sys_tenant where enable=0 and tenant_domain=#{tenantDomain} ) 
		and a.id in (${ids})
    </select>
    
    
    <select id="selectUserInfoByParam" resultType="java.util.Map">
        select 
			id,
			user_name 
		from sys_user_info where user_name like '%${bean.remark}%' or mobile like '%${bean.remark}%'
	    and tenant_id=#{bean.tenantId} 
    </select>
</mapper>