<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.sm.modules.admin.dao.UserActionDao" >

     
    <!-- 批量删除用户操作 -->
    <delete id="deleteUserActionByIds" parameterType = "java.util.List">
	    delete 
	       from sys_user_action  
	    where id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
	
    <!-- 初始化用户操作 -->
    <select id="queryUserActionAll" resultType="com.smartwf.sm.modules.admin.pojo.UserAction">
        select 
	        id,
			act_code,
			act_name,
			enable,
			sort,
			remark,
			tenant_id,
			create_time,
			create_user_id,
			create_user_name,
			update_time,
			update_user_id,
			update_user_name
	        from sys_user_action 
        where enable=0
    </select>
    
    
    
</mapper>