<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.sm.modules.sysconfig.dao.AssetClassifDao" >

    <!-- 批量删除 -->
    <delete id="deleteAssetClassifByIds" parameterType = "java.util.List">
	    delete 
	       from basic_iot_config  
	    where id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
    
	<!-- 查询列表 -->
    <select id="selectAssetClassifByPage" resultType="com.smartwf.sm.modules.sysconfig.vo.AssetClassifVO">
        select 
			b.id,
			b.tenant_id,
			b.tenant_domain,
			b.wind_farm,
			b.classify_name,
			b.svg,
			b.remark,
			b.create_time,
			a.org_name as windFarmName,
			( select tenant_name from sys_tenant where  enable =0 and id=b.tenant_id ) as tenantName
		 from  sys_organization a left join  basic_asset_classification b on a.id =b.wind_farm where a.tenant_id=b.tenant_id and a.org_type=1
         <if test="bean.tenantId != null ">
              and b.tenant_id=#{bean.tenantId}
         </if>
         <if test="bean.tenantDomain != null ">
              and b.tenant_domain=#{bean.tenantDomain}
         </if>
    </select>
    
    <!-- 主键查询 -->
    <select id="selectAssetClassifById" resultType="com.smartwf.sm.modules.sysconfig.vo.AssetClassifVO">
        select 
			b.id,
			b.tenant_id,
			b.tenant_domain,
			b.wind_farm,
			b.classify_name,
			b.svg,
			b.remark,
			b.create_time,
			a.org_name as windFarmName,
			( select tenant_name from sys_tenant where  enable =0 and id=b.tenant_id ) as tenantName
		 from  sys_organization a left join  basic_asset_classification b on a.id =b.wind_farm where a.tenant_id=b.tenant_id and a.org_type=1
         and b.id=#{bean.id}
         <if test="bean.tenantId != null ">
              and b.tenant_id=#{bean.tenantId}
         </if>
         <if test="bean.tenantDomain != null ">
              and b.tenant_domain=#{bean.tenantDomain}
         </if>
    </select>
    
    
    
</mapper>