<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.sm.modules.sysconfig.dao.EmailConfigDao" >

    <!-- 批量删除 -->
    <delete id="deleteEmailConfigByIds" parameterType = "java.util.List">
	    delete 
	       from basic_email_config  
	    where id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
    
	<!-- 查询列表 -->
    <select id="selectEmailConfigByPage" resultType="com.smartwf.sm.modules.sysconfig.vo.EmailConfigVO">
         select 
		    id,
			tenant_id,
			tenant_domain,
			wind_farm,
			service_address,
			port,
			login_code,
			pwd,
			is_ssl,
			is_mass,
			type,
			remark,
			create_time
		from basic_email_config order by create_time desc
    </select>
    
    <!-- 主键查询 -->
    <select id="selectEmailConfigById" resultType="com.smartwf.sm.modules.sysconfig.vo.EmailConfigVO">
        select 
		    id,
			tenant_id,
			tenant_domain,
			wind_farm,
			service_address,
			port,
			login_code,
			pwd,
			is_ssl,
			is_mass,
			type,
			remark,
			create_time
		from basic_email_config where id=#{bean.id}
    </select>
    
    
    
</mapper>