<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.sm.modules.sysconfig.dao.MaintNotifiDao" >

    <!-- 批量删除 -->
    <delete id="deleteMaintNotifiByIds" parameterType = "java.util.List">
	    delete 
	       from basic_maint_notification  
	    where id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
    
	<!-- 查询列表 -->
    <select id="selectMaintNotifiByPage" resultType="com.smartwf.sm.modules.sysconfig.vo.MaintNotifiVO">
         select 
			b.id,
			b.tenant_id,
			b.tenant_domain,
			b.wind_farm,
			b.service_address,
			b.status,
			b.msg,
			b.remark,
			b.create_time,
			b.end_time,
			a.org_name as windFarmName,
			( select tenant_name from sys_tenant where  enable =0 and id=b.tenant_id ) as tenantName
		 from  sys_organization a , basic_maint_notification b where a.id =b.wind_farm and a.tenant_id=b.tenant_id and a.org_type=1
         <if test="bean.tenantId != null ">
              and b.tenant_id=#{bean.tenantId}
         </if>
         <if test="bean.tenantDomain != null ">
              and b.tenant_domain=#{bean.tenantDomain}
         </if>
         order by b.create_time desc
    </select>
    
    <!-- 主键查询 -->
    <select id="selectMaintNotifiById" resultType="com.smartwf.sm.modules.sysconfig.vo.MaintNotifiVO">
        select 
			b.id,
			b.tenant_id,
			b.tenant_domain,
			b.wind_farm,
			b.service_address,
			b.status,
			b.msg,
			b.remark,
			b.create_time,
			b.end_time,
			a.org_name as windFarmName,
			( select tenant_name from sys_tenant where  enable =0 and id=b.tenant_id ) as tenantName
		 from  sys_organization a , basic_maint_notification b where a.id =b.wind_farm and a.tenant_id=b.tenant_id and a.org_type=1
		 and b.id=#{bean.id}
         <if test="bean.tenantId != null ">
              and b.tenant_id=#{bean.tenantId}
         </if>
         <if test="bean.tenantDomain != null ">
              and b.tenant_domain=#{bean.tenantDomain}
         </if>
    </select>
    
    
    
</mapper>