<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.sm.modules.sysconfig.dao.WindFarmConfigDao" >

    <!-- 批量删除多租户配置 -->
    <delete id="deleteWindFarmConfigByIds" parameterType = "java.util.List">
	    delete 
	       from basic_windfarm_config  
	    where id in
	    <foreach collection="list" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
	</delete>
    
	<!-- 查询风场配置表 -->
    <select id="selectWindFarmConfigByPage" resultType="com.smartwf.sm.modules.sysconfig.vo.WindfarmConfigVO">
        select 
		    a.id as wind_farm,
		    a.org_name as wind_farm_title,
		    a.tenant_id,
			b.id,
			b.kks,
			b.real_time_capacity,
			b.installed_capacity,
			b.daily_generation,
			b.cumulative_generation,
			b.pro_code,
			b.city_code,
			b.area_code,
			b.latitude,
			b.longitude,
			b.geo_json,
			b.generating_set,
			b.power_generation,
			b.stand_by,
			b.malfunctions,
			b.maintenance,
			b.power_restriction,
			b.off_line,
			b.status,
			b.remark,
			(select pro_name from sys_province where pro_code=b.pro_code) as proName,
	        (select name from sys_city where code=b.city_code) as cityName,
	        (select name from sys_area where code=b.area_code) as areaName,
			b.create_time
		 from sys_organization a left join basic_windfarm_config b on a.tenant_id=b.tenant_id
		 where a.enable=0 and a.org_type=1 and a.id=b.wind_farm
		 <if test="bean.tenantId != null ">
              and a.tenant_id=#{bean.tenantId}
         </if>
         order by create_time asc
    </select>
    
    
    <!-- 发电量统计 -->
    <select id="selectPortalPowerGenByParam" resultType="com.smartwf.sm.modules.sysconfig.vo.WindfarmConfigVO">
         select 
			sum(daily_generation) as daily_generation,
			sum(cumulative_generation) as cumulative_generation,
			sum(real_time_capacity) as real_time_capacity,
			sum(installed_capacity) as installed_capacity
		 from basic_windfarm_config where 1=1
		 <if test="bean.tenantDomain != null ">
              and tenant_domain=#{bean.tenantDomain}
         </if>
         <if test="bean.windFarm != null ">
              and wind_farm=#{bean.windFarm}
         </if>
    </select>
    
    <!-- 门户状态统计 -->
    <select id="selectPortalStatusByParam" resultType="com.smartwf.sm.modules.sysconfig.pojo.WindfarmConfig">
         select 
			sum(generating_set) as generating_set,
			sum(power_generation) as power_generation,
			sum(stand_by) as stand_by,
			sum(malfunctions) as malfunctions,
		    sum(maintenance) as maintenance,
			sum(power_restriction) as power_restriction,
			sum(off_line) as off_line,
		  type
		from basic_windfarm_config where 1=1 
		 <if test="bean.tenantDomain != null ">
              and tenant_domain=#{bean.tenantDomain}
         </if>
         <if test="bean.windFarm != null ">
              and wind_farm=#{bean.windFarm}
         </if>
         group by type order by type asc
    </select>
    
    
    <!-- 查询租户配置表 -->
    <select id="selectWindfarmConfig" resultType="com.smartwf.sm.modules.sysconfig.vo.WindfarmConfigVO">
        SELECT
			a.id,
			a.tenant_id,
			a.tenant_domain,
			a.wind_farm,
			a.pro_code,
			a.city_code,
			a.area_code,
		    (select pro_name from sys_province where pro_code=a.pro_code) as proName,
			(select name from sys_city where code=a.city_code ) as cityName,
			(select name from sys_area where code=a.area_code ) as areaName,
			(select org_name from sys_organization where id=a.wind_farm and org_type=1) as wind_farm_title,
			a.latitude,
			a.longitude,
			a.geo_json
		FROM
			basic_windfarm_config a where 1=1
         <if test="bean.tenantId != null ">
              and a.tenant_id=#{bean.tenantId}
         </if>
    </select>
    
    
    <!-- 门户-省份风场统计  -->
    <select id="selectProWindfarm" resultType="java.util.Map">
        select f.proName,f.pro_code as proCode,count(*) as windFarmCount, f.proLongitude, f.proLatitude from (
		     select 
				a.id as wind_farm,
				a.org_name as wind_farm_title,
				a.tenant_id,
				b.id,
				b.kks,
				b.real_time_capacity,
				b.installed_capacity,
				b.daily_generation,
				b.cumulative_generation,
				b.pro_code,
				b.city_code,
				b.area_code,
				b.latitude,
				b.longitude,
				b.geo_json,
				b.generating_set,
				b.power_generation,
				b.stand_by,
				b.malfunctions,
				b.maintenance,
				b.power_restriction,
				b.off_line,
				b.status,
				b.remark,
				(select pro_name from sys_province where pro_code=b.pro_code) as proName,
				(select name from sys_city where code=b.city_code) as cityName,
				(select name from sys_area where code=b.area_code) as areaName,
				(select pro_longitude from sys_province_dict where pro_code=b.pro_code) as proLongitude,
                (select pro_latitude from sys_province_dict where pro_code=b.pro_code) as proLatitude,
				b.create_time
			 from sys_organization a , basic_windfarm_config b 
		     WHERE a.tenant_id=b.tenant_id
				and a.enable=0 and a.org_type=1 and a.id=b.wind_farm
				<if test="bean.tenantId != null ">
		            and a.tenant_id=#{bean.tenantId}
		        </if>
		)f GROUP BY f.pro_code
         
    </select>
    
    <!-- 门户-省份风场统计  -->
    <select id="selectWindfarmConfigByProCode" resultType="com.smartwf.sm.modules.sysconfig.vo.WindfarmConfigVO">
       select 
			f.proName,
			f.pro_code as proCode,
			f.installed_capacity,
			f.daily_generation,
			f.wind_farm_title
		 from (
		     select 
				a.id as wind_farm,
				a.org_name as wind_farm_title,
				a.tenant_id,
				b.id,
				b.kks,
				b.real_time_capacity,
				b.installed_capacity,
				b.daily_generation,
				b.cumulative_generation,
				b.pro_code,
				b.city_code,
				b.area_code,
				b.latitude,
				b.longitude,
				b.geo_json,
				b.generating_set,
				b.power_generation,
				b.stand_by,
				b.malfunctions,
				b.maintenance,
				b.power_restriction,
				b.off_line,
				b.status,
				b.remark,
				(select pro_name from sys_province where pro_code=b.pro_code) as proName,
				(select name from sys_city where code=b.city_code) as cityName,
				(select name from sys_area where code=b.area_code) as areaName,
				b.create_time
			 from sys_organization a , basic_windfarm_config b 
	         WHERE a.tenant_id=b.tenant_id
			 and a.enable=0 and a.org_type=1 and a.id=b.wind_farm
			 <if test="bean.tenantId != null ">
	              and a.tenant_id=#{bean.tenantId}
	         </if>
		)f 
    </select>
</mapper>