<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.hm.modules.knowledgebase.dao.FaultCodeBaseDao" >
    
    <!-- 查询代码库 -->
    <select id="selectFaultCodeBase" resultType="com.smartwf.hm.modules.knowledgebase.pojo.FaultCodeBase">
         select 
			 id,
			 model,
			 protocol_no,
			 iec_path,
			 fault_code,
			 fault_name,
			 eng_name,
			 component_name,
			 pms_am_id,
			 pms_ai_id,
			 remark,
			 status,
			 enable,
			 checker,
			 check_time,
			 create_time,
			 create_user_id,
			 create_user_name,
			 tenant_code
		from fault_code_base 
        where pms_am_id=#{bean.pmsAmId} 
        <if test="bean.pmsAiId != null ">
          and pms_ai_id=#{bean.pmsAiId}
        </if>
        <if test="bean.tenantCode != null ">
          and tenant_code=#{bean.tenantCode}
        </if>
   </select>
   
   <!-- 删除代码库 -->
   <delete id="deleteFaultCodeBase" parameterType = "com.smartwf.hm.modules.knowledgebase.pojo.FaultCodeBase">
	    delete 
	       from fault_code_base  
	    where pms_am_id=#{bean.pmsAmId} 
        <if test="bean.pmsAiId != null ">
          and pms_ai_id=#{bean.pmsAiId}
        </if>
        <if test="bean.tenantCode != null ">
          and tenant_code=#{bean.tenantCode}
        </if>
   </delete>
   
   <!-- 删除解决方案 -->
   <delete id="deleteFaultSolutionInfo" parameterType = "com.smartwf.hm.modules.knowledgebase.pojo.FaultCodeBase">
	    delete 
	       from fault_solution_info  
	    where fault_code=#{bean.faultCode}
	    <if test="bean.tenantCode != null ">
          and tenant_code=#{bean.tenantCode}
        </if>
   </delete>
   
</mapper>