<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartwf.hm.modules.knowledgebase.dao.FaultSolutionInfoDao" >
    
   <!-- 删除解决方案 -->
   <delete id="deleteFaultSolutionInfo" parameterType = "com.smartwf.hm.modules.knowledgebase.pojo.FaultSolutionInfo">
	    delete 
	       from fault_solution_info  
	    where fault_code=#{bean.faultCode}  and type=#{bean.type}
        
   </delete>
   
   
   <!-- 查询解决方案列表 -->
    <select id="selectFaultSolInfoByFaultCode" resultType="com.smartwf.hm.modules.knowledgebase.pojo.FaultSolutionInfo">
         select 
			id,
			fault_code,
			type,
			content,
			sort,
			remark,
			enable,
			status,
			checker,
			check_time,
			create_time,
			create_user_id,
			create_user_name,
			tenant_domain
		from fault_solution_info
		where fault_code=#{bean.faultCode}
        <if test="bean.tenantDomain != null ">
          and tenant_domain=#{bean.tenantDomain}
        </if>
        order by type,sort asc 
   </select>
</mapper>